/* Styles for general use */
* {
    margin: 0px;
    padding: 5px;
}

:root {
    --color-1: #573280;  
    --color-2: #d8d4f2a8;
}

body {
    background-color: white;
}

/* Styles for the top area, header and nav */
header {
    background-color: var(--color-1);
    color: white;
    text-align: center;
    border: 2px black double;
    margin-top: 10px;
}

nav {
    background-color: var(--color-1);
    color: white;
    text-align: center;
    border: 2px black double;
    font-size: 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-top: 5px;
}

/* Styles for making links look better */
a {
    text-decoration: none;
}

a:visited {
    color: skyblue;
}

a:link {
    color: skyblue;
}

a:hover {
    background-color: var(--color-2);
}

/* Styles for the Bio section */
.bio-container {
    background-color: var(--color-1);
    color: white;
    text-align: center;
    border: 2px black double;
    margin-top: 10px;
    font-size: larger;
}

/* Styles for the Qualifications section */
.qualifications-container {
    background-color: var(--color-1);
    color: white;
    text-align: center;
    border: 2px black double;
    margin-top: 10px;
    font-size: larger;
}

.qualification-image-container {
    display: none;
}

/* Styles for the Hobbies section */
.hobbies-container {
    background-color: var(--color-1);
    color: white;
    text-align: center;
    border: 2px black double;
    margin-top: 10px;
    font-size: larger;
}

.hobby-image-container {
    display: none;
}

/* Styles for the Previous Work section */
.work-container {
    background-color: var(--color-1);
    color: white;
    text-align: center;
    border: 2px black double;
    margin-top: 10px;
    font-size: larger;
}

/* Styles for the Contact section */
.contact-container {
    background-color: var(--color-1);
    color: white;
    text-align: center;
    border: 2px black double;
    margin-top: 10px;
    font-size: larger;
}

/* Styles for the Footer */
footer {
    background-color: var(--color-1);
    color: white;
    text-align: center;
    border: 2px black double;
    margin-top: 10px;
    font-size: larger;
}

/* Media queries to make images appear for desktops */
@media only screen and (min-width: 1480px) {
    .hobby-image-container {
        display: flex;
        justify-content: center;
    }

    .qualification-image-container {
        display: flex;
        justify-content: center;
    }
}